In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv('houses_to_rent_v2.csv')

In [4]:
df.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836

# Criando coluna metro quadrado

In [5]:
df['preco_m2'] = df['total (R$)'] / df['area']

In [7]:
df.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$),preco_m2
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618,80.257143
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973,24.915625
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841,48.012500
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421,27.862745
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836,33.440000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10692 entries, 0 to 10691
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   city                 10692 non-null  object
 1   area                 10692 non-null  int64
 2   rooms                10692 non-null  int64
 3   bathroom             10692 non-null  int64
 4   parking spaces       10692 non-null  int64
 5   floor                10692 non-null  object
 6   animal               10692 non-null  object
 7   furniture            10692 non-null  object
 8   hoa (R$)             10692 non-null  int64
 9   rent amount (R$)     10692 non-null  int64
 10  property tax (R$)    10692 non-null  int64
 11  fire insurance (R$)  10692 non-null  int64
 12  total (R$)           10692 non-null  int64
 13  preco_m2             10692 non-null  float64
dtypes: float64(1), int64(9), object(4)
memory usage: 1.1+ MB

# Renomeando valores e colunas

In [14]:
df.rename(columns={'rooms':'quartos', 'bathroom':'banheiros'}, inplace = True)

In [16]:
df['animal'].replace({'acept':'aceita', 'not acept':'nao aceita'}, inplace = True)

In [19]:
df['furniture'].replace({'furnished':'mobiliado','not furnished':'nao mobiliado'}, inplace = True)

In [21]:
df.head()

,city,area,quartos,banheiros,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$),preco_m2
0,São Paulo,70,2,1,1,7,aceita,mobiliado,2065,3300,211,42,5618,80.257143
1,São Paulo,320,4,4,0,20,aceita,nao mobiliado,1200,4960,1750,63,7973,24.915625
2,Porto Alegre,80,1,1,1,6,aceita,nao mobiliado,1000,2800,0,41,3841,48.012500
3,Porto Alegre,51,2,1,0,2,aceita,nao mobiliado,270,1112,22,17,1421,27.862745
4,São Paulo,25,1,1,0,1,nao aceita,nao mobiliado,0,800,25,11,836,33.440000

# Porcentagem de apartamentos que aceitam animais

In [24]:
aceita_animais = df[df['animal'] == 'aceita']['animal'].count()

In [25]:
aceita_animais

8316

In [26]:
total = df['animal'].count()

In [29]:
porcentagem = (aceita_animais / total)*100

In [31]:
porcentagem.round(2)

77.78

# Aluguel mais caro

In [32]:
df['total (R$)'].max()

1120000

# Cidade com o apartamento mais caro

In [33]:
df[df['total (R$)'] == df['total (R$)'].max()]

,city,area,quartos,banheiros,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$),preco_m2
255,Belo Horizonte,155,1,4,0,4,nao aceita,nao mobiliado,1117000,2790,64,38,1120000,7225.806452
6979,Belo Horizonte,155,1,4,0,4,nao aceita,nao mobiliado,1117000,2790,64,38,1120000,7225.806452

# 20 Apartamentos mais caros

In [34]:
df['total (R$)'].sort_values(ascending = False).head(20)

6979     1120000
255      1120000
6645      316900
6230      233200
2859      222100
2928       95610
2182       54430
1444       32750
6243       32180
1699       32040
6185       31580
7748       31010
1213       30660
1862       28790
254        28490
9595       28310
722        27840
7679       27830
10172      27760
6947       27580
Name: total (R$), dtype: int64

# Excluindo os valores inseridos errados

In [35]:
df_ajuste = df[df['hoa (R$)'] <= 30825 ].copy()

In [39]:
df_ajuste['total (R$)'].sort_values(ascending = False).head(20)

6645     316900
2182      54430
6243      32180
1699      32040
6185      31580
7748      31010
1213      30660
1862      28790
254       28490
9595      28310
722       27840
7679      27830
10172     27760
6947      27580
547       27290
157       26800
1250      26090
8425      25580
1253      25510
10410     25390
Name: total (R$), dtype: int64

In [41]:
df_ajuste.loc[6645]

city                       São Paulo
area                              42
quartos                            1
banheiros                          2
parking spaces                     1
floor                              6
animal                    nao aceita
furniture              nao mobiliado
hoa (R$)                         690
rent amount (R$)                2500
property tax (R$)             313700
fire insurance (R$)               32
total (R$)                    316900
preco_m2                     7545.24
Name: 6645, dtype: object

In [42]:
df_ajuste.drop(index = 6645, inplace = True)

In [43]:
df_ajuste['total (R$)'].sort_values(ascending = False).head(20)

2182     54430
6243     32180
1699     32040
6185     31580
7748     31010
1213     30660
1862     28790
254      28490
9595     28310
722      27840
7679     27830
10172    27760
6947     27580
547      27290
157      26800
1250     26090
8425     25580
1253     25510
10410    25390
974      25310
Name: total (R$), dtype: int64

In [44]:
df_ajuste.loc[2182]

city                       São Paulo
area                             700
quartos                            4
banheiros                          7
parking spaces                     8
floor                              -
animal                        aceita
furniture              nao mobiliado
hoa (R$)                           0
rent amount (R$)               45000
property tax (R$)               8750
fire insurance (R$)              677
total (R$)                     54430
preco_m2                     77.7571
Name: 2182, dtype: object

# Media do m2 mais caro, por cidade

In [46]:
por_cidade = df_ajuste.groupby('city')

In [49]:
por_cidade['preco_m2'].mean().sort_values(ascending = False)

city
São Paulo         50.270023
Rio de Janeiro    48.895792
Porto Alegre      32.957206
Belo Horizonte    30.566908
Campinas          29.333237
Name: preco_m2, dtype: float64